.container{
  width: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
}

.post{
  border-bottom: 1px solid gray;
  align-self: flex-start;
  padding: 10px;
  width: 100%;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.updateform{
  display: none;
}