.container{
  width: 100%;
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post{
  border-bottom: 1px solid gray;
  padding: 10px;
}

.posts{
  width: 45%;
}

.photos{
  width: 45%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.photo{
  width: 150px;
  padding: 20px;
}